
.jumbotron-sleek {
    padding-top: 1em;
    padding-bottom: 1em;
}

#game {
    border: 1px solid black;
}

#information {
    display: flex;
    flex-direction: column;
}

.topSection {
    flex:2;
}
.bottomSection {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#playingField {
    position: inherit;
}

#startButton {
    margin-bottom: 6px;
}

#gameInformation:hover {
    color: blue;
}
.modal.fade.in {
    opacity: 1;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #007bff;
  }
  
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #007bff;
  }